<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{1,1},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{465,1},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{929,1},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{1393,1},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{1,190},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{465,190},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{929,190},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{1393,190},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{1,379},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{465,379},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{929,379},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{1393,379},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{1,568},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{465,568},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{929,568},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{1393,568},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{1,757},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{465,757},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{929,757},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{1393,757},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{1,946},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{465,946},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{929,946},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{1393,946},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{1,1135},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{465,1135},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{929,1135},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{1393,1135},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{1,1324},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{465,1324},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{929,1324},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3af1e1a5f42bbd10be605f053a7c56af-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,462}</string>
                <key>spriteSourceSize</key>
                <string>{187,462}</string>
                <key>textureRect</key>
                <string>{{1393,1324},{187,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card_profiles.png</string>
            <key>size</key>
            <string>{1856,1512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:940a2603ef63e7269b33e0dd1b4d997b:61a3d5ad18a42748070bce6c9fdd2deb:816b39b0fbaaf5c5029daeab9d32c15d$</string>
            <key>textureFileName</key>
            <string>card_profiles.png</string>
        </dict>
    </dict>
</plist>
